.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* header */
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/*     background-position: top left, bottom right; Look */


/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
/* align-items center mane vertical(ulombo) borabor center hobe  */
.nav-title{
    font-weight: 800;
    font-size: 45px;


}
nav ul{
    display: flex;
    align-items: center;

    

}
/* shared styles */

.text-primary{
    color:
rgba(253, 110, 10, 1);

}
.dark-2color{
    color: rgba(71, 71, 71, 1);

}
nav ul li{
    list-style: none;
    margin-right: 50px;
  
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    background-color: rgba(253, 110, 10, 1);
    border-radius: 5px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
       
    width: 150px;
    height: 64px;
    font-size: 20px;
    border: none;


}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

/* justify-content space between deya te row borarbor 2 corner e 2 jon chole jabe */

.banner-content{
    max-width: 580px;
}
.banner-greetings{
 
   font-size: 45px;
    font-weight: 600;

}

.banner-title{
    font-weight: bold;
    font-size: 85px;

}

.banner-profile-pic{

    width: 584px;
    height: 676px;
}